<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id={{vivienda._id}}>
    <li class="list-group-item item-listado marginLeft">
        <div class="media"> 
            <div class="media-left"> 
                <img class="media-left media-middle img-fluid" src={{vivienda.imagenes[0]}} alt="Imagen inmueble" width="200px"> 
            </div>
            <div class="media-body"> 
                <p class="card-title">Precio: $ {{vivienda.precio}}</p>
                <p class="card-title">{{vivienda.operacion}} - {{vivienda.tipoVivienda}}</p>
                {% set cantEstrellas = vivienda.calificacion %} 
                {% include 'rating.twig' %} 
                {% if vivienda.tipoVivienda == "Departamento" %}
                    <p class="card-text">  {{ vivienda.direccion ~ ' - '}} {{'Piso ' ~ vivienda.piso ~ ' Dpto ' ~ vivienda.numeroDepto}} </p>
                {% else %}
                    <p class="card-text"> {{vivienda.direccion}} </p> 
                {% endif %}
                 <button 
                     type="button" class="btn botonSinFondo pull-right margenIzquierdo" onclick="confirmarEliminarVivienda('{{vivienda._id}}');">
                     Eliminar
                </button>
                <a class="btn botonSinFondo pull-right" href={{'/editarVivienda/'~vivienda._id}}> Editar</a>
            </div>
        </div>
    </li> 
</div>

