<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <li class="list-group-item item-listado marginLeft" id={{propietario._id}} >
        <div class="media"> 
            <div class="media-body"> 
                <p class="card-title"><b>Nombre:</b> {{propietario.nombre}}</p>
                <p class="card-text"><b>CUIT :</b> {{propietario.cuit}} </p> 
                <p class="card-text"><span class="icono"><span class="glyphicon glyphicon-envelope"></span> {{propietario.correoElectronico}} </p>
                <p class="card-text"><span class="icono"><span class="glyphicon glyphicon-earphone"></span></span>{{propietario.telefono}} </p> 
                 <button 
                     type="button" class="btn botonSinFondo pull-right margenIzquierdo" onclick="eliminarPropietario('{{propietario.cuit}}');">
                     Eliminar
                </button>
                <a class="btn botonSinFondo pull-right" href={{'/viviendas/'~vivienda._id}}> Editar</a>
            </div>
        </div>
    </li> 
</div>


